node_modules/
dist/
.DS_Store
*.log
.env*
!.env.example
android/.gradle/
android/local.properties
android/app/build/
android/keystore.properties
android/*.jks
android/*.keystore
release/
public/assets/*-source.png
ios/App/Pods/
ios/App/App/public/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
